.pimg1 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("./backgroundtest.jpg");
  min-height: 100vh;
  z-index: -100;
}

.title {
  font-size: 2em;
  text-shadow: 1px 1px black;
}
.subtitle,
.links {
  margin-top: 0.75em;
  font-size: 0.75em;
  text-shadow: 1px 1px black;
}

.pimg2 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("./image2.jpg");
  min-height: 200px;
  z-index: 5;
}

.section {
  text-align: center;
  padding: 50px 80px;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.atext {
  width: 100%;
  text-align: center;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border,
.atext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans,
.atext .border.trans {
  background-color: transparent;
}
.title .ptext,
.title .atext {
  font-size: 3em;
}
.about-flex {
  display: flex;
  flex-direction: row;
}
.about-text,
.about-picture-holder {
  width: 40vw;
  margin: auto;
}

.acontent {
  text-align: center;
}

.about-picture {
  margin: 100px;
  width: 400px;
  border: 3px;
  border-style: solid;
}

@media (max-width: 568px) {
  .pimg1,
  .pimg2 {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 1020px) {
  .about-flex {
    display: grid;
  }
  .about-text,
  .about-image,
  .about-picture-holder {
    width: 80vw;
  }
}
