.atext {
  width: 100%;
  text-align: center;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.about-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about-text,
.about-picture-holder {
  width: 40vw;
  margin: auto;
}

.acontent {
  text-align: center;
  margin-top: 5em;
}

.about-picture {
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 3px;
  border-style: solid;
}

@media only screen and (max-width: 1020px) {
  .about-text,
  .about-picture-holder {
    width: initial;
  }

  .acontent {
    width: 50%;
    margin: auto;
  }
  .about-section {
    height: 90vh;
  }
  .atext {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 800px) {
  .acontent {
    font-size: 0.75em;
  }
}
