.navbar-main {
  // font-family: "Comic Sans";
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: red;
}

nav {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: #fff !important;
}

.ntext {
  text-transform: uppercase;
}

.ntext:hover {
  font-weight: bold;
  transform: translate(0px, -2px);

}
