.navbar-main {
  // font-family: "Comic Sans";
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: red;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.nav-link {
  color: #fff !important;
}

.ntext {
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;

}

.ntext:hover {
  transform: translate(0px, -2px);
}
