.navbar-main {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: red;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.nav-link {
  color: #fff !important;
  letter-spacing: 4px;
}

.ntext {
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}
.ntext::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.5s;
}

.ntext:hover::after {
  width: 100%;
}
